<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Product Management</h3>
<p>
    <a th:href="@{/song/create}">
        Add new song
    </a>
</p>
<p th:if="${message}"><span th:text="${message}"></span></p>
<table id = "song">
    <thead>
    <tr>
        <th>Name</th>
        <th>Singer</th>
        <th>Play</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song : ${songs}">
        <td th:text="${song.name}"></td>
        <td th:text="${song.singer}"></td>
        <td><a th:href="@{'/song/' + ${song.link}}">play</a></td>
        <td><a th:href="@{/song/{id}/delete(id=${song.id})}">delete</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>